*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.morning {
  font-family: 'Satisfy', sans-serif;
  font-size: 900%;
  margin-top: 20%;
  margin-left: 48%;
  color: #9a9a80;
}

.listDate {
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  margin-top: 20%;
  margin-left: 78%;
  color: #9a9a80;
  width: 500px;
}

.month {
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  margin-top: 20%;
  margin-left: 78%;
  color: #e4e2e3;
  width: 500px;
}

.shape {
  height: 65%;
  width: 23%;
  background-color: #bebab6;
  border-radius: 10px;
  margin-top: 85px;
  float: none;
  margin-left: 62%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0%;
  rotate: -.1deg;
}

.gridOutline {
  height: 690px;
  width: 69%;
  outline-color: #445943;
  background-color: #445943;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 10px;
  margin-top: 85px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.gridMain {
  height: 590px;
  width: 69%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 10px;
  margin-top: 185px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridSun {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridMon {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 25.35714285714%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridTues {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 35.2142857143%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridWed {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 45.0714285714%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridThurs {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 54.9285714285%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridFri {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 64.7857142856%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridSat {
  height: 590px;
  width: 9.85714285714%;
  outline-color: #445943;
  background-color: #e4e2e3;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 185px;
  float: none;
  margin-left: 74.6428571427%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridDays {
  height: 40px;
  width: 69%;
  outline-color: #445943;
  background-color: #445943;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 205px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridRow1 {
  height: 106px;
  width: 69%;
  outline-color: #445943;
  background-color: none;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 245px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridRow2 {
  height: 106px;
  width: 69%;
  outline-color: #445943;
  background-color: none;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 351px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridRow3 {
  height: 106px;
  width: 69%;
  outline-color: #445943;
  background-color: none;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 457px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridRow4 {
  height: 106px;
  width: 69%;
  outline-color: #445943;
  background-color: none;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 563px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.gridRow5 {
  height: 106px;
  width: 69%;
  outline-color: #445943;
  background-color: none;
  outline-width: 10%;
  outline-style: solid;
  border-radius: 0px;
  margin-top: 669px;
  float: none;
  margin-left: 15.5%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
}

.text {
  display: inline-block;
  position: absolute;
}

body {
    background-color: #fbfbfb;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar.active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  img {
    width: 100%;
    z-index: 0;
    max-height: 100%;
  }

  a {
    text-decoration: none;
  }

  .menu {
    width: 3em;
    margin-top: 0em;
    cursor: pointer;
  }

  .close {
    width: 3em;
    margin-top: 0em;
    cursor: pointer;
    margin-left: 80%;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #4b634a;
    height: 100vh;
    width: 12%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
  }

  .navLink {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
  }

  .link {
    color: black;
    padding: .75em 2em;
    display: block;
    color: #e0dcd9;
    font-size: 1rem;
  }

  .link:hover {
    background: #445943;
  }

  .open-nav {
    transform: translateX(0%);
  }

  .clock {
    width: 52%;
    height: 0px;
    padding-bottom: 52%;
    background-color: rgba(255,255,255);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    left: 3%;
    bottom: -2%;
  }

  .clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
  }

  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }

  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg ));
  }

  .clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .clock .hand.second {
    width: 1%;
    height: 37%;
    background-color: red;
  }
  
  .clock .hand.minute {
    width: 3%;
    height: 32%;
    background-color: black;
  }

  .clock .hand.hour {
    width: 10px;
    height: 27%;
    background-color: black;
  }
  
  .timeonea {
    position: absolute;
    background-color: rgb(244, 241, 241);
    width: 40%;
    height: 10%;
    left: 57%;
    bottom: 80%;
    font-size: 100%;
    border-radius: 50%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5% 0%;
  }

  .info {
    position: absolute;
    width: 15%;
    text-align: center;
    left: 70%;
    bottom: 70%;
    font-size: 250%;
    font-display: 50%; 
  }

  .info .date {
    font-family: monospace;
  }



 

  @media only screen and (max-width: 1200px) {
    nav {
      width: 50%;
    }
  }
